<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>CINE</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body class="card-body bg-dark">
	
		<div class="card text-white bg-danger mx-auto mt-20" style="max-width: 40rem;">
	  		<h5 class="card-header">Error</h5>
	  		<div class="card-body">
	    		<div th:each="error : ${errorMsg}">
	    			<ul class="list-group">
	    			<li class="list-group-item list-group-item-danger" th:text="${error}"/>
	    			</ul>
	    		</div>
	  		</div>
		</div>

	</body>

</html>
