<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>CINE</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<style>
			body{
				background-image: url("https://wallpapercave.com/wp/wp4016027.jpg");
				background-repeat: no-repeat;
				background-size: cover;
			}
		</style>
	</head>
		<body class="card-body">
		<div class="card text-white bg-dark mb-3">
		  <div class="card-header">Datos de la nueva película</div>
		  <div class="card-body">
				<form th:action="@{/actAddPelicula}" th:object="${newPelicula}" method="POST">
					<div class="form-group">
			  			<label for="inpCarRegs">Título</label>
			  			<input type="text" required="required" class="form-control" id="inpActorTitle" name="title" placeholder="Título">
					</div>
					<div class="form-group">
						  <label for="inpCarBrand">Año de lanzamiento</label>
						  <input type="number" required="required" class="form-control" id="inpActorYear" name="year" placeholder="Año">
					</div>
					<div class="form-group">
						  <label for="inpCarModel">Duración</label>
						  <input required="required" type="text" class="form-control" id="inpActorDuration" name="duration" placeholder="Duración">
					</div>
					<div class="form-group">
						  <label for="inpCarBrand">Resumen</label>
						  <input type="text" required="required" class="form-control" id="inpActorSummary" name="summary" placeholder="Resumen">
					</div>
					<button type="submit" name="btnAddPelicula" class="btn btn-success">Añadir</button>
					<a class="btn btn-primary" href="index" role="button" id="aBtnReturn">Volver</a>
				</form>
			  </div>
			</div>
	</body>
</html>